<ion-content class="body">
  <ion-row>
    <ion-col offset="10" size="2" size-lg>
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-grid class="grid">
    <ion-row class="ion-align-items-center">
      <ion-col size="10" offset="1" size-sm class="ion-padding-bottom">
        <div>
          <ion-button expand="block" size="large" [routerLink]="['/home']">START</ion-button>
        </div>
      </ion-col>
      <ion-col size="8" offset="2" size-sm class="ion-padding-bottom">
        <div>
          <ion-button expand="block">SETTINGS</ion-button>
        </div>
      </ion-col>
      <ion-col size="8" offset="2" size-sm class="ion-padding-bottom">
        <div>
          <ion-button expand="block">Fun</ion-button>
        </div>
      </ion-col>
      <ion-col size="8" offset="2" size-sm class="ion-padding-bottom">
        <div>
          <ion-button expand="block">EXIT</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
